form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .login-head {
    margin-top: 0;
  }
  
  .containerLogin {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
  }
  input [type ="text"],
  input[type="email"],
  input[type="password"]
  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #1071da;
  }
  
  p {
    margin-top: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  