.post{
    flex: 9;
    margin: 10px 15px;
  
}
.container-post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}
.seemorebtn{
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #333;
    margin: 10px auto;
    cursor: pointer;
}